<div class="blog-comment {{comment.comment_type}}" id="blog-comment-{{comment.ID}}">

	<h4 class="comment-author">{{comment.author.name}} says</h4>

	<div class="comment-content">{{comment.comment_content|wpautop}}</div>

	<div class="comment-box">

		{% if post.comments %}

			<h4> replies </h4>

			<div class="comments">

				{% for cmt in comment.children %}

					{% include "partial/core/comment.twig" with {comment:cmt} %}

				{% endfor %}

			</div>

		{% endif %}

		{% include "partial/core/comment-form.twig" %}

	</div>

</div>