<section class="comment">

    <div class="container">

        {% if post.comments %}

            <h3> comments </h3>

            {% for cmt in post.comments %}

                {% include "partial/core/comment.twig" with {comment:cmt} %}

            {% endfor %}

        {% endif %}

        {% if post.comment_status == "closed" %}

            <p> comments for this post are closed </p>

        {% else %}

            {% include "partial/core/comment-form.twig" %}

        {% endif %}

    </div>

</section>