<section class="header">

    <div class="container">

        <div id="nav" class="">

            <div class="toggle" id="nav-toggle"><i class="fa fa-2x fa-times" aria-hidden="true"></i></div>

            <h1 class="hdr-logo" role="banner">

                <a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>

            </h1>

            <nav>

                {% include "partial/core/menu.twig" with {'menu': menu.get_items} %}

            </nav>

            <div class="footer">

                <ul class="social">
                    <li>
                        <a href="https://twitter.com/boothy02">
                            <span class="fab fa-twitter"></span>
                            <span class="screen-reader-text">Find us on Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:james@jbooth.me">
                            <span class="fa fa-envelope"></span>
                            <span class="screen-reader-text">Email Us</span>
                        </a>
                    </li>
                </ul>

                <div class="copyright">
                    &copy; {{ "now" | date("Y") }} James Booth
                </div>

            </div>



    </div>

</section>
